@use "variables";

.icon-currency,
.icon-quote,
.icon-base {
  top: 1px;
  position: relative;
}

#app {
  .icon-currency:before {
    content: variables.$icon-dollar;
  }

  .icon-quote:before {
    content: variables.$icon-dollar;
  }

  .icon-base:before {
    content: variables.$icon-coin;
  }

  &[data-prefered-sizing-currency='base'] {
    .icon-currency:before {
      content: variables.$icon-coin;
    }
  }
}